<div class="v-header__row v-header__row--with-grid">

    <a href="/home"><img class="logo v-mr-4" src=".././assets/Logo.svg" alt="Funktsioonide registri logo"/></a>

    <div class="searchbar v-header__grid-column v-header__grid-column--center v-hide-md-down">
        <div class="v-autocomplete v-autocomplete--with-button" role="search">
            <div class="v-icon-input v-icon-input--md v-icon-input--right-icon">
                <input type="text" placeholder="Otsing..." class="v-form-control" aria-expanded="true" role="searchbox">
                <button class="material-icons v-form-control-icon-btn v-form-control-icon-btn--right" aria-label="Otsi">search</button>
            </div>
        </div>
    </div>
    
    <div class="v-header__grid-column v-header__grid-column--end v-flex-shrink-0">
        <button *ngIf="!loggedIn" type="button" class="v-button v-button--primary v-button--md v-hide-lg-down" (click)="login()">Login sisse</button>
        <div *ngIf="loggedIn" class="logged-user v-ml-4 v-flex v-flex-column v-justify-content-center">
            <p>Sisselogitud</p>
            <div class="user">Kairi Sarapuu<span class="material-symbols-outlined">keyboard_arrow_down</span></div>
        </div>
        <button class="v-header__button v-hide-md-up"><span class="material-symbols-outlined" aria-hidden="true">search</span>Otsing</button>
        <button *ngIf="!loggedIn" class="v-header__button v-hide-lg-up" (click)="login()"><span class="material-symbols-outlined" aria-hidden="true">person</span>Login sisse</button>
        <button class="v-header__button v-hide-lg-up" (click)="toggleMenu()"><span class="material-symbols-outlined" aria-hidden="true">menu</span>Menüü</button>
    </div>
</div>


<app-header-menu *ngIf="menuOpen" (close)="toggleMenu()"></app-header-menu>
