.breadcrumbs {
    color: #454854;
    font-size: 16px;

    span {
        font-size: 20px !important;
        color: #005AA3;
    }
    .dash {
        color: #454854;
    }

    a {
        cursor: pointer;
        color: #005AA3;
        text-decoration: underline;
        margin-right: 8px;
    }

    a, a:visited, a:hover, a:focus {
        text-decoration: underline;
        color: #005AA3;
    }
}