<div class="header-navigation">
    <a class="nav-item v-flex v-align-items-center" routerLink="/home" routerLinkActive="nav-active">
        <span class="material-symbols-outlined">house</span>
        Avaleht
    </a>
    <a class="nav-item" routerLink="/functions" routerLinkActive="nav-active">
        <img src="assets/catalog-icon.svg"/>           
        Funktsioonide kataloog
    </a>
    <a class="nav-item">
        <span class="material-symbols-outlined">support</span>
        Abikeskus
    </a>
    <a class="nav-item" href="https://aktors.ee">
        <span class="material-symbols-outlined">house</span>
        Aktors
    </a>
</div>
