<div class="table-wrapper">
    <table class="horizontal" *ngIf="!vertical" cellpadding="0" cellspacing="0">
        <tr class="headers">
            <th *ngFor="let header of headers" [ngClass]="header.sortable ? 'sortable' : ''">
                <div class="header v-flex v-align-items-center">
                    <div class="v-mr-4">{{header.name}}</div>
                    <span *ngIf="header.sortable" [ngClass]="header.alwaysSortable ? 'always-display material-symbols-outlined' : 'desktop-display material-symbols-outlined'">expand_all</span>
                </div>
            </th>
        </tr>
        <tr *ngFor="let row of data">
            <td *ngFor="let cell of row; let i = index" [ngClass]="{'name-column': headers[i].name === 'Nimetus'}">
                <div *ngIf="cell.startsWith('img:'); else textCell">
                    <img [src]="cell.substring(4)" alt="Image" />
                </div>
                <ng-template #textCell>
                    <div>{{cell}}</div>
                </ng-template>
            </td>
        </tr>
    </table>

    <table class="vertical" *ngIf="vertical" cellpadding="0" cellspacing="0">
        <tr *ngFor="let header of headers; let i = index">
            <th>{{header.name}}</th>
            <ng-container *ngFor="let row of data; let j = index" >
                <td [ngClass]="{'name-column': headers[i].name === 'Nimetus'}">{{data[j][i]}}</td>
            </ng-container>
        </tr>
    </table>
</div>
