.footer {
    height: 224px;
    width: 100%;
    background-color: white;
    color: #005AA3;
    display: flex;
	justify-content: space-between;

    .section {
        font-size: 14px;
        height: 90%;
        width: 24%;
        padding: 0px 30px 0px 30px;
        margin: 10px 0px 10px 0px;
        border-left: 1px solid #C0C2C9;

        .section-title {
            font-size: 16px;
            color: #131317;
            font-style: normal;
            margin-bottom: 15px;
        }
        .quick-access {
            padding: 7px;
            white-space: nowrap;
            svg {
                margin-right: 10px;
            }
        }

        .contact {
            margin: 10px;
            white-space: nowrap;
            svg {
                margin-right: 10px;
            }
        }

        a, a:visited, a:hover, a:focus {
            color: #005AA3;
            white-space: nowrap;
        }
    }

    .section:nth-of-type(1) {
        border-left: none;
    }
}

@media only screen and (max-width: 1212px) {
    .hidden-ria-contact {
        display: block;
        margin-top: 15px;
    }
    .footer {
        height: 374px;
        .section:nth-child(1) {
            width: 40%;
        }
        .section:nth-child(2) {
            display: none;
        }
        .section:nth-child(3) {
            width: 35%;
        }
        .section:nth-child(4) {
            width: 25%;
            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 1212px) { 
    .hidden-ria-contact { display: none !important; }
}

@media only screen and (max-width: 760px) {
    .footer {
        height: 704px;
        width: 100%;
        flex-direction: column;
        padding: 10px;
        .hidden-ria-contact {
            width: 100%;
            border-top: 1px solid #C0C2C9;
            padding-top: 15px;
        }
        .section {
            padding: 0px !important;
            width: 90% !important;
            padding-bottom: 15px !important;
            border-bottom: 1px solid #C0C2C9;
            border-left: none;
            margin: 15px;
        }
        .section:nth-child(4) {
            border: none;
        }
        img {
            width: 55% !important;
        }
    }
}