<div class="contact v-card v-mb-6" *ngIf="links">
    <div class="links">
        <p class="title">OLULISED LINGID</p>
        <a class="v-link v-link--with-icon" *ngFor="let link of links.links" href="{{link.url}}">{{link.title}}<span class="material-icons v-ml-3" aria-label="Avaneb uuel vahelehel">open_in_new</span></a>
    </div>
    <div class="contacts-notify">
        <div class="contacts">
            <p class="title">KONTAKT</p>
            <div class="contact-info" *ngFor="let contact of links.contacts">
                <p><b>{{contact.name}}</b></p>
                <p>{{contact.email}}<span *ngIf="contact.phoneNr">,</span> {{contact.phoneNr}}</p>
            </div>
        </div>
        <div class="notify">
            <button type="button" class="v-button v-button--secondary v-button--sm v-mr-5"><a class="v-text-body-bold v-flex"><span class="material-symbols-outlined v-mr-3">send</span>Esitan Teavituse</a></button>
            <button type="button" class="v-button v-button--secondary v-button--sm v-mr-5"><a class="v-text-body-bold v-flex"><img class="v-mr-3" src=".././assets/info-msg.svg"/>Saadan infoteate</a></button>
        </div>
    </div>
</div>
