<div class="contact v-card">
    <div class="links">
        <p class="title">OLULISED LINGID</p>
        <a>Integreeritav aadressiotsing In-ADS<img src=".././assets/link-icon.svg"/></a>
        <a>ADS-st RIHAs<img src=".././assets/link-icon.svg"/></a>
        <a>Gitbooks<img src=".././assets/link-icon.svg"/></a>
    </div>
    <div class="contacts-notify">
        <div class="contacts">
            <p class="title">KONTAKT</p>
            <div class="contact-info">
                <p><b>Mari Murakas</b></p>
                <p>mari.murakas{{'@'}}info.ee, +372 50987545</p>
            </div>
            <div class="contact-info">
                <p><b>Mart Murakas</b></p>
                <p>mart.murakas{{'@'}}info.ee</p>
            </div>
            <div class="contact-info">
                <p><b>Üldkontakt (Maa-amet IT)</b></p>
                <p>info{{'@'}}info.ee</p>
            </div>
        </div>
        <div class="notify">
            <button><span class="material-symbols-outlined v-mr-3">send</span>Esitan Teavituse</button>
            <button><img class="v-mr-3" src=".././assets/info-msg.svg"/>Saadan infoteate</button>
        </div>
    </div>
</div>
