.header {
    width: 100vw;

    .header-settings {
        height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        border-bottom: 1px solid gray;

        .language-select {
            margin-left: 24px;
            color: #005AA3;
        }
        .darkmode-select {
            margin-right: 24px; 
        }
    }

    .header-main {
        height: 88px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;

        .logo {
            height: 32px;
            margin-left: 24px;
        }

        .searchbar {
            color: gray;
            width: 360px;
            height: 40px;
            border-radius: 4px;
            border: 1px solid gray;
            padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: stretch;
        }

        .login-button {
            margin-right: 24px;
            color: white;
            background-color: #005AA3;
            border-radius: 360px;
            border: none;
            width: 152px;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
        }
    }
    
    .header-navigation {
        background-color: #005AA3;
        color: white;
        height: 48px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        padding: 0px 24px 0px 24px;

        .nav-active {
            background-color: #003662 !important;
        }

        a {
            cursor: pointer;
            font-size: 14px;
            height: 100%;
            padding: 12px 16px 12px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: #003662 solid 1px;

            svg {
                margin-right: 5px;
            }
        }

        a, a:visited, a:hover, a:focus {
            text-decoration: none;
            color: #fff;
        }
    }
}