<div class="statistics">
    <div class="statistics-container">
        <div class="left">
            <p class="section-title">Funktsioonide statistika</p>
            <div class="pie-charts">
                <div>
                    <p>PAKUTAVAD TEENUSED</p>
                    <img src=".././assets/pakutavad_teenused.png"/>
                </div>
                <div>
                    <p>PÕHIKATEGOORIATE KASUTUSKORRAD</p>
                    <img src=".././assets/kategooriate_kasutuskorrad.png"/>
                </div>
            </div>
            <div class="line-chart">
                <p>FUNKTSIOONID JA KASUTUSJUHUD AJAS</p>
                <img class="chart" src=".././assets/line-chart.png"/>
                <img src=".././assets/chart-legend.png"/>
            </div>
        </div>
        <div class="right">
            <p  class="section-title">TOP 5 emim vaadatud funktsiooni</p>
            <div class="functions-list">
                <app-top-function number="1" title="Aadressiandmete süsteem" type="Andmeteenus"></app-top-function>
                <app-top-function number="2" title="Lorem ipsum dolor sit amet consectetur." type="Andmeteenus"></app-top-function>
                <app-top-function number="3" title="Lorem ipsum dolor sit amet consectetur." type="Andmeteenus"></app-top-function>
                <app-top-function number="4" title="Lorem ipsum dolor sit amet consectetur." type="Andmeteenus"></app-top-function>
                <app-top-function number="5" title="Lorem ipsum dolor sit amet consectetur." type="Andmeteenus"></app-top-function>
            </div>
        </div>
    </div>
</div>
