.section-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.statistics {
    width: 100%;
    background-color: #F0F0F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;

    .statistics-container {
        display: flex;
        justify-content: space-between;
    
        .left {
            width: 696px;
            margin-right: 24px;

            .pie-charts {
                display: flex;
                justify-content: space-between;

                div {
                    font-weight: bold;
                    background-color: #FFFFFF;
                    width: 344px;
                    height: 233px;
                    border-radius: 4px;
                    padding: 20px;
                    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
                    text-align: center;

                    p {
                        text-align: left;
                    }

                    img {
                        margin-top: 16px;
                    }
                }
            }

            .line-chart {
                font-weight: bold;
                margin-top: 8px;
                background-color: #FFFFFF;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 4px;
                padding: 20px;
                box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);

                p {
                    margin-bottom: 12px;
                }

                .chart {
                    margin-bottom: 12px;
                }
            }
        }
        
        .right {
            width: 456px;
        }
    }
}

@media only screen and (max-width: 1212px) {
    .statistics {
        padding: 30px;
        .statistics-container {
            flex-direction: column;
            width: 100%;
            .left {
                width: 100%;
                margin-bottom: 24px;
                .pie-charts {
                    div {
                        width: 49.5%;
                        
                    }
                }
                .line-chart {
                    width: 100%;
                }
            }
            .right {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .statistics-container {
        .left {
            display: none;
        }
    }
}