<div class="search-filters">
    <app-search-bar [iconColor]="'black'" class="searchbar"></app-search-bar>
    <app-dropdown class="dropdown-filter" title="Liigitus"><p>liigitus</p></app-dropdown>
    <app-dropdown class="dropdown-filter" title="Pakutav teenus"><p>Pakutav teenus</p></app-dropdown>
    <app-dropdown class="dropdown-filter" title="Valdkondlik märksõna"><p>Valdkondlik märksõna</p></app-dropdown>
    <app-dropdown class="dropdown-filter" title="Omanik"><p>Omanik</p></app-dropdown>
    <app-dropdown class="dropdown-filter" title="Programmeerimiskeel"><p>Programmeerimiskeel</p></app-dropdown>
    <app-dropdown class="dropdown-filter" title="Operatsioonisüsteem"><p>Operatsioonisüsteem</p></app-dropdown>
    <app-dropdown class="dropdown-filter" title="Turvameetmeid rakendatakse"><p>Turvameetmeid rakendatakse</p></app-dropdown>
    <app-dropdown class="dropdown-filter" title="ISKE turbetase"><p>ISKE turbetase</p></app-dropdown>
</div>
