:host {
    --handle-background-checked: #686B78;
    --background-checked: white;
    --handle-background: #686B78;
    --handle-border: 2px solid #686B78;
    --track-border: 2px solid #878A97;
    --tracker-background: white;
    --handle-size: 10px;
  

    .toggle-btn-handle {
    transform: rotate(-90deg) translate3d(-50%, 0px, 0px);
    transform-origin: 0;
    }
  
      &.toggle-checked {
        .toggle-btn-handle {
          transform: rotate(90deg) translate3d(-50%, 0px, 0px);
        }
      }
}
  
:host {
    box-sizing: content-box;
    position: relative;
    width: 24px;
    height: 16px;
    padding: 12px;
    contain: strict;

    &.toggle-checked {
        .toggle-btn-track {
        background-color: var(--background-checked);
        }

        .toggle-btn-handle {
        background-color: var(--handle-background-checked);
        left: 70%;
        }
    }
}
  
.toggle-btn-track {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 16px;
    transition: background-color 0.16s ease 0s;
    background: var(--tracker-backgroundd);
    box-sizing: border-box;
    border: var(--track-border);
}
  
.toggle-btn-handle {
    left: 6px;
    transform: translate3d(-50%, 0, 0);
    position: absolute;
    width: var(--handle-size);
    height: var(--handle-size);
    transition-duration: 0.46s;
    transition-property: left, transform, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    will-change: left, transform, background-color;
    contain: strict;
    border-radius: 50%;
    background: var(--handle-background);
    box-sizing: border-box;
    border: var(--handle-border);
}
  
button {
    left: 0;
    top: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: none;
}