<div class="functions">
    <div class="left">
        <p class="functions-title">Siit leiad kergelt enda vajadustele vastavaid taaskasutatavaid funktsioone</p>
        <p class="functions-desc">Eu semper est eu accumsan sem nunc fames scelerisque metus. Ultricies turpis cursus at nunc eget iaculis lacus aenean. Mauris nec senectus nulla aenean. Adipiscing etiam venenatis vel orci est sit metus donec elit.</p>
        <button>Funktsioonide kataloogi<img src=".././assets/arrow-right-blue.svg"/></button>
    </div>
    <div class="right">
        <div>
            <p>Funktsiooni liigitused</p>
            <button>Tarkvara teenusena<img src=".././assets/arrow-right.svg"/></button>
            <button>Kood<img src=".././assets/arrow-right.svg"/></button>
            <button>Binaarid<img src=".././assets/arrow-right.svg"/></button>
            <button>Must kast<img src=".././assets/arrow-right.svg"/></button>
        </div>
        <div>
            <p>Pakutav teenus</p>
            <button>Andmeteenus<img src=".././assets/arrow-right.svg"/></button>
            <button>Mikroteenus<img src=".././assets/arrow-right.svg"/></button>
            <button>Aadressiteenus<img src=".././assets/arrow-right.svg"/></button>
            <button>X-tee<img src=".././assets/arrow-right.svg"/></button>
        </div>
    </div>
</div>
<div class="statistics">
    <h2>Funktsioonide statistika</h2>
</div>
