button:focus {
    box-shadow: none !important;
}
.v-tabs__tab--selected {
    border-color: var(--v-tabs-border-selected);
}

@media only screen and (max-width: 760px) {
    .v-card {
        width: 100% !important;
        flex-wrap: wrap;
        padding: 12px 0px 12px 0px;
        box-shadow: unset;
    }
}