<div class="intro v-card v-mb-6">
    <div class="tab-select">
        <div class="select-header desc" [ngClass]="{'active': selectedTab === 'desc'}" (click)="selectedTab = 'desc'">Täpne tutvustus</div>
        <div class="select-header tech" [ngClass]="{'active': selectedTab === 'tech'}" (click)="selectedTab = 'tech'">Tehnilised andmed</div>
    </div>
    <div class="tab-content" *ngIf="technicalData && longDescription">
        <div class="introduction" *ngIf="selectedTab === 'desc'" [innerHTML]="longDescription"></div>
        <div class="technical-data" *ngIf="selectedTab === 'tech'">
            <app-table *ngFor="let table of technicalData; let i = index" [vertical]="true" [headers]="technicalDataHeaders[i]" [data]="technicalData[i]"></app-table>
        </div>
    </div>
</div>
