<div class="function v-card v-mb-6" *ngIf="function">
    <div class="info">
        <div class="left">
            <button><span class="material-symbols-outlined v-mr-2">label</span>Kood</button>
            <button><span class="material-symbols-outlined v-mr-2">security</span>Keskmine (K2T2S0)</button>
        </div>
        <div class="right">
            <button class="edit"><span class="material-symbols-outlined v-mr-3">edit</span>Muuda</button>
            <button class="follow"><span class="material-symbols-outlined v-mr-3">visibility</span>Jälgi</button>
            <div class="likes">
                <img *ngIf="!function.liked" (click)="like()" src=".././assets/like-black.svg"/>
                <img *ngIf="function.liked" (click)="like()" src=".././assets/like-blue.svg"/>
                <p class="likecount" [ngClass]="{'liked': function.liked}">{{function.likes}}</p>
            </div>
        </div>
    </div>

    <div class="body">
        <img src="./../assets/Maa-ameti_logo.svg"/>
        <div class="text">
            <div class="title">{{function.title}}</div>
            <div class="owner">
                <span class="owner-name">{{function.owner}}</span>
                <span>-</span>
                <span class="date">20.10.2022</span>
                <span class="private">(Privaatne)</span></div>
            <div class="description">{{function.description}}</div>
            <div class="tags">
                <div>Märksõnad:</div>
                <span>aadress</span>
                <span>teenus</span>
                <span>andmed</span>
                <span>komponent</span>
            </div>
        </div>     
    </div>
</div>