.page_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F2;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        opacity: 0.25;
        background-image: url("/assets/bg-pattern.svg"), url("/assets/bg-pattern.svg");
        background-position-x: -500px, 1050px;
        background-position-y: -200px, -540px;
        background-size: 1100px;
        background-repeat: no-repeat, no-repeat;
        width: 100vw;
        height: 100vw;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .details_wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;

        .mobile-back {
            display: none !important;
        }

        .detail_view {
            .card {
                background-color: #ffffff;
                border-radius: 16px;
                padding: 16px 32px 32px 32px;
                margin-bottom: 32px;
                box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
            }

            .intro-contact {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .intro {
                    width: 60%;
                }
                .contact {
                    width: 38%;
                }
            }
        }
        .back {
            display: flex;
            align-items: center;
            margin-bottom: 36px;
            text-decoration: none;
            p {
                margin-left: 8px;
                color: #005AA3;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 1212px) {
    .page_container {
        &:before {
            background-position-x: -500px, 750px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .page_container {
        &:before {
            display: none;
        }
    }
    .details_wrapper {
        .detail_view {
            .intro-contact {
                flex-direction: column;
                .intro, .contact {
                    width: 100% !important;
                    flex-wrap: wrap;
                }
                .contacts-notify {
                    width: 44%;
                }
            }
        }
    }
    .desktop {
       display: none !important; 
    }
}

@media only screen and (max-width: 760px) {
    .page_container {
        background-color: #fff;
        .details_wrapper {
            width: 90%;
            .mobile-back {
                display: flex !important;
                margin-bottom: 0px;
            }
            .desktop-breadcrumbs {
                display: none;
            }
            .detail_view {
                .card {
                    padding: 12px 0px 12px 0px;
                    margin-bottom: 16px;
                    box-shadow: unset;
                }
            }
        }
    }
}