<div class="page_container">
    <div class="details_wrapper">
        <app-sub-nav class="desktop-breadcrumbs"></app-sub-nav>
        <a class="mobile-back back" href="/functions">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 14L8.41 12.59L3.83 8H20V6H3.83L8.42 1.41L7 0L0 7L7 14Z" fill="#005AA3"/>
            </svg>
            <p>Tagasi</p>
        </a>
        <div class="detail_view">
            <div class="function card">

                <div class="info">
                    <div class="left">
                        <button><img src="./../assets/tag.svg"/>Kood</button>
                        <button><img src="./../assets/security.svg"/>Keskmine (K2T2S0)</button>
                    </div>
                    <div class="right">
                        <button class="edit"><img src=".././assets/edit-btn.svg"/>Muuda</button>
                        <button class="follow"><img src=".././assets/follow-btn.svg"/>Jälgi</button>
                        <div class="likes">
                            <img *ngIf="!liked" (click)="like()" src=".././assets/like-black.svg"/>
                            <img *ngIf="liked" (click)="like()" src=".././assets/like-blue.svg"/>
                            <p class="likecount" [ngClass]="{'liked': liked}">{{likes}}</p>
                        </div>
                    </div>
                </div>

                <div class="body">
                    <img src="./../assets/Maa-ameti_logo.svg"/>
                    <div class="text">
                        <div class="title">Aadressiandmete süsteem</div>
                        <div class="owner">
                            <span class="owner-name">Maa-amet</span>
                            <span>-</span>
                            <span class="date">20.10.2022</span>
                            <span class="private">(Privaatne)</span></div>
                        <div class="description">Aadressiandmete süsteemi eesmärk on tagada aadressiobjektide ühene identifitseerimine nii nende asukohas kui ka erinevates andmekogudes ning muuta võrreldavaks erineval ajal ja eri põhimõtetel esitatud koha-aadressid.</div>
                        <div class="tags">
                            <div>Märksõnad:</div>
                            <span>aadress</span>
                            <span>teenus</span>
                            <span>andmed</span>
                            <span>komponent</span>
                        </div>
                    </div>     
                </div>
            
            </div>
            <div class="intro-contact">
                <div class="intro card">
                    <div class="tab-select">
                        <div class="select-header desc" [ngClass]="{'active': selectedTab === 'desc'}" (click)="selectedTab = 'desc'">Täpne tutvustus</div>
                        <div class="select-header tech" [ngClass]="{'active': selectedTab === 'tech'}" (click)="selectedTab = 'tech'">Tehnilised andmed</div>
                    </div>
                    <div class="tab-content">
                        <div class="introduction" *ngIf="selectedTab === 'desc'">
                            <span>In-ADS-i veebiteenuse näol on tegemist aadressiandmete süsteemi (ADS-i) andmeid kasutava integreeritava aadressiotsinguga, mida on võimalik lihtsalt paigutada erinevatesse veebipõhistesse infosüsteemidesse. <b>In-ADS-is on alati kõige täpsemad ja ajakohasemad aadressid</b>, sest tänu igaöistele uuendamistele jõuavad sinna kõik aadressiandmete süsteemis tehtud muudatused.</span>
                            <span>In-ADS on kiire ja mugav. In-ADS-i kaudu saavad kõik huvilised tasuta kätte korrektsed Eesti aadressid koos võimalusega salvestada need oma infosüsteemi. Teenus sobib kõigile asutustele, kes ootavad oma veebirakenduste kasutajatelt aadressi sisestamist. In-ADS-i kaudu on see tehtud tarbijale mugavaks (aadresse pakutakse juba sisestamise käigus) ja rakendusele edastatakse info valitud aadressi kohta süsteemselt töödeldaval kujul.
                                Võimalik on kasutada ka objektipõhist otsingut. <br> In-ADS sisaldab ka kaardikomponenti, kus aadressi ja objekti otsing võib olla nii teksti- kui ka kaardipõhine. Lisaks saab luua ka ilma otsinguta staatilist kaarti, näiteks asutuse asukoha kuvamiseks.</span>
                            <span>Aadressi andmeid on võimalik pärida ka ilma integreeritava kasutajaliideseta, kasutades <a>Gazetteer-teenuse URL päringut</a>, mis tagastab tulemused JSON või XML kujul.</span>
                        </div>
                        <div class="technical-data" *ngIf="selectedTab === 'tech'">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <th>Kategooria</th>
                                    <td>Kood</td>
                                </tr>
                                <tr>
                                    <th>Pakutav teenus</th>
                                    <td>Andmeteenus</td>
                                </tr>
                                <tr>
                                    <th>Tehnoloogia</th>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <th>Programmeerimiskeel</th>
                                    <td>.Net, java</td>
                                </tr>
                                <tr>
                                    <th>Operatsioonisüsteem</th>
                                    <td>Windows, Mac OS, Linux</td>
                                </tr>
                            </table>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <th>Rakendatud turvastandardid</th>
                                    <td>ISKE</td>
                                </tr>
                                <tr>
                                    <th>ISKE turvaosaklassid</th>
                                    <td>Keskmine</td>
                                </tr>
                                <tr>
                                    <th>Käideldavuse tase</th>
                                    <td>K2</td>
                                </tr>
                                <tr>
                                    <th>Tervikluse tase</th>
                                    <td>T2</td>
                                </tr>
                                <tr>
                                    <th>Konfidentsiaalsuse tase</th>
                                    <td>S0</td>
                                </tr>
                                <tr>
                                    <th>Viimase auditi kuupäev</th>
                                    <td>0.12.2021</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="contact card">
                    <div class="links">
                        <p class="title">OLULISED LINGID</p>
                        <a>Integreeritav aadressiotsing In-ADS<img src=".././assets/link-icon.svg"/></a>
                        <a>ADS-st RIHAs<img src=".././assets/link-icon.svg"/></a>
                        <a>Gitbooks<img src=".././assets/link-icon.svg"/></a>
                    </div>
                    <div class="contacts-notify">
                        <div class="contacts">
                            <p class="title">KONTAKT</p>
                            <div class="contact-info">
                                <p><b>Mari Murakas</b></p>
                                <p>mari.murakas{{'@'}}info.ee, +372 50987545</p>
                            </div>
                            <div class="contact-info">
                                <p><b>Mart Murakas</b></p>
                                <p>mart.murakas{{'@'}}info.ee</p>
                            </div>
                            <div class="contact-info">
                                <p><b>Üldkontakt (Maa-amet IT)</b></p>
                                <p>info{{'@'}}info.ee</p>
                            </div>
                        </div>
                        <div class="notify">
                            <button><img src=".././assets/send-icon.svg"/>Esitan Teavituse</button>
                            <button><img src=".././assets/info-msg.svg"/>Saadan infoteate</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq card">
                <h1>Korduma kippuvad küsimused</h1>
                <div class="question">Kuidas koodi kasutada?<img src=".././assets/accordion-arrow.svg"/></div>
                <div class="question">Näidis küsimus?<img src=".././assets/accordion-arrow.svg"/></div>
                <div class="question">Ehk veel mõni pikem küsimus siia näidiseks?<img src=".././assets/accordion-arrow.svg"/></div>
            </div>
            <div class="usecases card">
                <div class="top">
                    <h1>Kasutusjuhud</h1>
                    <div class="add_usecase"><img src="./../assets/blue-plus.svg"/>Lisan uue kasutusjuhu</div>
                </div>
                <div class="usecase-table-desktop">
                    <app-table [vertical]="false" [headers]="usecaseHeaders" [data]="usecaseData"></app-table>
                    <div class="table-results desktop-table">
                        <p>2 tulemust</p>
                        <div class="page-size">
                            <p>Kuvan korraga</p>
                            <div class="size-dropdown">
                                <div class="dropdown-text">10</div>
                                <img src=".././assets/dropdown-arrow.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usecase-table-mobile">
                    <app-table *ngFor="let table of usecaseData | paginate: config" [vertical]="true" [headers]="usecaseHeaders.slice(1,5)" [data]="[table.slice(1,5)]"></app-table>
                    
                    <div class="sorting-bottom">
                        <div class="result-count">
                            <p>2 tulemust</p>
                        </div>

                        <pagination-template #p="paginationApi"
                        [id]="'custom'"
                        (pageChange)="config.currentPage = $event"
                        class="pagination-template">

                            <div class="custom-pagination">
                                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                                    <svg *ngIf="!p.isFirstPage()" (click)="p.previous()" class="arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 14L8.41 12.59L3.83 8H20V6H3.83L8.42 1.41L7 0L0 7L7 14Z" fill="#005AA3"/>
                                    </svg>
                                    <svg *ngIf="p.isFirstPage()" (click)="p.previous()" class="arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 14L8.41 12.59L3.83 8H20V6H3.83L8.42 1.41L7 0L0 7L7 14Z" fill="#C0C2C9"/>
                                    </svg>
                                </div>

                                <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                        <span class="page">{{ page.label }}</span>
                                    </a>
                                    <div *ngIf="p.getCurrent() === page.value">
                                        <span class="current page">{{ page.label }}</span>
                                    </div>
                                </div>

                                <div class="pagination-next" [class.disabled]="p.isLastPage()">
                                    <svg *ngIf="!p.isLastPage()" (click)="p.next()" class="arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z" fill="#005AA3"/>
                                    </svg>
                                    <svg *ngIf="p.isLastPage()" class="arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z" fill="#C0C2C9"/>
                                    </svg>
                                </div>
                            </div>

                        </pagination-template>
                        

                        <div class="page-size">
                            <p>Kuvan korraga</p>
                            <div class="size-dropdown">
                                <div class="dropdown-text">5</div>
                                <img src=".././assets/dropdown-arrow.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="back" href="/functions">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 14L8.41 12.59L3.83 8H20V6H3.83L8.42 1.41L7 0L0 7L7 14Z" fill="#005AA3"/>
            </svg>
            <p>Tagasi</p>
        </a>
    </div>
</div>
