.page_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F2;

    .details_wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;

        .mobile-back {
            display: none !important;
        }

        .detail_view {
            .card {
                background-color: #ffffff;
                border-radius: 16px;
                padding: 16px 32px 32px 32px;
                margin-bottom: 32px;
                box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
            }

            .function {
                .info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 48px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #C0C2C9;

                    .left {
                        height: 100%;
                        display: flex;
                        align-items: center; 
                        button {
                            display: flex;
                            align-items: center; 
                            height: 100%;
                            border: 2px solid #686B78;
                            border-radius: 4px;
                            cursor: pointer;
                            margin-right: 8px;

                            img {
                                margin-right: 4px;
                            }
                        }
                    }
                    .right {
                        height: 100%;
                        display: flex;
                        font-size: 14px;

                        button {
                            font-weight: bold;
                            padding: 14px;
                            display: flex;
                            align-items: center;
                            border-radius: 36px;
                            cursor: pointer;
                            img {
                                margin-right: 4px;
                            }
                        }
                        .follow {
                            background-color: #005AA3;
                            color: #fff;
                            border: none;
                            margin-right: 16px;
                        }
                        .edit {
                            color: #005AA3;
                            background-color: transparent;
                            border: 2px solid #005AA3;
                            margin-right: 16px;
                        }
                        .likes {
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            color: #131317;
                    
                            img {
                                margin-right: 8px;
                                cursor: pointer;
                            }
                            .liked {
                                color: #005AA3;
                            }
                        }
                    }
                }
                
                .body {
                    margin-top: 16px;
                    display: flex;
                    img {
                        width: 184px;
                    }
                    .text {
                        margin-left: 32px;
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        .title {
                            font-size: 28px;
                            color: #131317;
                            margin-bottom: 4px;
                        }
                        .owner {
                            font-size: 14px;
                            margin-bottom: 16px;
                            color: #454854;
                            .owner-name {
                                cursor: pointer;
                                color: #005AA3;
                                text-decoration: underline;
                            }
                            .private {
                                color: #AC3232;
                            }
                            span {
                                margin-right: 12px;
                            }
                        }
                        .description {
                            width: 90%;
                            font-size: 16px;
                            color: #131317;
                            margin-bottom: 16px;
                        }

                        .tags {
                            color: #454854;
                            font-size: 14px;
                            margin-top:  16px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            div {
                                margin-right: 8px;
                            }
                            span {
                                color: #131317;
                                background-color: #EAF6FF;
                                margin: 4px 8px 4px 0px;
                                padding: 6px;
                                border-radius: 4px;
                                box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
                                cursor: pointer;
                            }
                        }

                    }
                }
            }

            .intro-contact {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .intro {
                    width: 60%;
                    

                    .tab-select {
                        display: flex;
                        width: 100%;
                        font-size: 16px;
                        .select-header {
                            padding: 11px 16px 3px 16px;
                            cursor: pointer;
                            height: 40px;
                            color: #454854;
                        }
                        .desc {
                            width: 150px;
                        }
                        .tech {
                            width: 172px;
                        }
                        .active {
                            color: #005AA3;
                            font-weight: bold;
                            border: 1px solid #878A97;
                            border-radius: 4px 4px 0px 0px;
                            z-index: 1;
                            background-color: white;
                            border-bottom: 1px solid white;
                        }

                    }
                    .tab-content {
                        margin-top: -1px;
                        border: 1px solid #878A97;
                        width: 100%;
                        border-radius: 0px 4px 4px 4px;
                        padding: 24px;

                        .introduction {
                            span {
                                display: block;
                                margin-bottom: 24px;
                                a {
                                    color: #005AA3;
                                    text-decoration: underline;
                                    cursor: pointer;
                                }
                            }
                            span:last-child {
                                margin-bottom: 0px;
                            }
                        }
                        .technical-data {
                            text-align: left;
                            display: flex;
                            flex-direction: column;
                            table {
                                &:first-child {margin-bottom: 24px}
                                th, td {
                                    padding: 15px;
                                    width: 292px;
                                    border: 1px solid #C0C2C9;
                                    border-bottom: none;
                                }
                                th {
                                    font-weight: normal;
                                    background-color: #F0F0F2;
                                    border-right: none;
                                    color: #454854;
                                }
                                td {
                                    background-color: #fff;
                                    border-left: none;
                                    color: #131317;
                                }

                                tr:first-child th {border-top-left-radius: 4px}
                                tr:first-child td {border-top-right-radius: 4px}
                                tr:last-child td {border-bottom-right-radius: 4px; border-bottom: 1px solid #C0C2C9}
                                tr:last-child th {border-bottom-left-radius: 4px; border-bottom: 1px solid #C0C2C9}
                            }
                        }
                    }
                }
                .contact {
                    width: 38%;
                    display: flex;
                    flex-direction: column;
                    padding: 32px;

                    .title {
                        font-size: 16px;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }

                    .links {
                        padding-bottom: 8px;
                        border-bottom: 1px solid #878A97;
                        a {
                            display: block;
                            text-decoration: underline;
                            color: #005AA3;
                            margin-bottom: 16px;
                            cursor: pointer;
                            img {
                                margin-left: 5px;
                            }
                        }
                    }
                    .contacts {
                        margin-top: 24px;
                        border-bottom: 1px solid #878A97;
                        padding-bottom: 12px;
                        .contact-info {
                            p {
                                margin-bottom: 8px;
                            }
                        }
                    }
                    .notify {
                        margin-top: 24px;
                        display: flex;

                        button {
                            display: flex;
                            align-items: center;
                            background-color: transparent;
                            color: #005AA3;
                            border: 2px solid #005AA3;
                            border-radius: 36px;
                            padding: 4px 12px 4px 12px;
                            font-weight: bold;
                            font-size: 14px;
                            margin-right: 16px;
                            cursor: pointer;
                            img {
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }

            .faq {
                padding: 32px;

                h1 {
                    font-weight: normal;
                    font-size: 20px;
                    margin-bottom: 24px;
                }
                .question {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #878A97;
                    color: #454854;
                    padding: 8px 17px 8px 17px;
                    font-size: 16px;
                    border-radius: 4px;
                    font-weight: bold;
                    margin-bottom: 8px;
                    
                    img {
                        cursor: pointer;
                    }
                }
            }

            .usecases {
                padding: 32px;
                .top {
                    display: flex; 
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 16px;
                    h1 {
                        font-weight: normal;
                        font-size: 20px;
                    }
                    .add_usecase {
                        font-size: 14px;
                        color: #005AA3;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 3px solid #005AA3;
                        padding: 8px 20px 8px 20px;
                        border-radius: 36px;
                        cursor: pointer;
                        img {
                            margin-right: 4px;
                        }
                    }  
                }
                .usecase-table-mobile {
                    display: none;
                    .sorting-bottom {
                        margin-top: 16px;
                        margin-bottom: 12px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #454854;
                        font-size: 14px;
                    }
    
                    .page-size {
                        display: flex;
                        align-items: center;
                            .size-dropdown {
                                margin-left: 8px;
                                display: flex;
                                justify-content: space-between;
                                padding: 8px;
                                border: 1px solid #C0C2C9;
                                border-radius: 4px;
                                width: 82px;
                                .dropdown-text {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                img {
                                    margin-left: 12px;
                                }
                            }
                    }
                    .pagination-template {
                        width: 100%;
                    }
                    .custom-pagination {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

    
                        .pagination-previous {
                            color: #005AA3;
                        }
                        .pagination-next {
                            color: #005AA3;
                        }
    
                        .page {
                            display: inline-block;
                            height: 35px;
                            width: 35px;
                            font-size: 14px;
                            color: #005AA3;
                            line-height: 35px;
                            text-align: center;
                            font-weight: bold;
                            cursor: pointer;
                        }
                        .current {
                            background-color: #005AA3;
                            color: white;
                            border-radius: 50%;
                        }
    
                        .arrow {
                            margin: 0 12px 0 12px;
                            cursor: pointer;
                        }
                    }
                }
                .usecase-table-desktop {
                    .table-results {
                        height: 48px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        color: #454854;
                        border: 1px solid #C0C2C9;
                        border-radius: 0px 0px 4px 4px;
                        font-size: 14px;
                        .page-size {
                            display: flex;
                            align-items: center;
                            .size-dropdown {
                                margin-left: 8px;
                                display: flex;
                                justify-content: space-between;
                                padding: 8px;
                                border: 1px solid #C0C2C9;
                                border-radius: 4px;
                                width: 82px;
                                .dropdown-text {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                img {
                                    margin-left: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .back {
            display: flex;
            align-items: center;
            margin-bottom: 36px;
            text-decoration: none;
            p {
                margin-left: 8px;
                color: #005AA3;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .details_wrapper {
        .detail_view {
            .intro-contact {
                flex-direction: column;
                .intro, .contact {
                    width: 100% !important;
                    flex-wrap: wrap;
                }
                .contacts-notify {
                    width: 44%;
                }
                .contact {
                    flex-direction: row !important;
                    .links, .contacts {
                        border-bottom: none !important;
                        padding: 12px;
                    }
                    .links {
                        border-right: 1px solid #C0C2C9;
                        width: 44%;
                    }
                    .contacts {
                        margin-top: 0 !important;
                    }
                    .notify {
                        padding: 12px;
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }
    .desktop {
       display: none !important; 
    }
}
@media only screen and (max-width: 807px) {
    table {
        th, td {
            padding-right: 8px !important;
        }
    }
}

@media only screen and (max-width: 760px) {
    .page_container {
        background-color: #fff;
        .details_wrapper {
            width: 90%;
            .mobile-back {
                display: flex !important;
                margin-bottom: 0px;
            }
            .desktop-breadcrumbs {
                display: none;
            }
            .detail_view {
                .card {
                    padding: 12px 0px 12px 0px;
                    margin-bottom: 16px;
                    box-shadow: unset;
                }
                .function {
                    .info {
                        display: none;
                    }
                    .body {
                        img {
                            display: none;
                        }
                        .text {
                            margin-left: 0px;
                            width: 100%;
                            .tags {
                                div {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .intro-contact {
                    flex-direction: column;
                    .intro, .contact {
                        width: 100% !important;
                        flex-wrap: wrap;
                    }
                    .contacts-notify {
                        width: 100%;
                    }
                    .contact {
                        padding: 0;
                        flex-direction: column !important;
                        .links, .contacts {
                            border-bottom: 1px solid #C0C2C9 !important;
                            border-right: none !important;
                            width: 100%;
                        }
                        .links {
                            border-right: 1px solid #C0C2C9;
                        }
                        .contacts {
                            margin-top: 16px !important;
                            margin-bottom: 16px !important;
                        }
                        .notify {
                            padding: 12px;
                            margin-top: 16px !important;
                            margin-bottom: 16px !important;
                            button {
                                justify-content: center;
                                width: 180px;
                            }
                        }
                    }
                }
                .usecases {
                    .usecase-table-mobile {
                        width: 100%;
                        display: block;
                    }
                    .usecase-table-desktop {
                        display: none;
                    }
                    .top {
                        flex-direction: column;
                        align-items: flex-start;
                        .add_usecase {
                            margin: 16px 0 16px 0;
                            padding: 6px 20px 6px 20px;
                        }
                    }
                }
            }
        }
    }
    .notify {
        flex-direction: column;
        button:first-child {
            margin-bottom: 16px;
        }
    }
    .desktop-table {
        display: none !important;
    }
    .sorting-bottom {
        display: flex;
        flex-direction: column;
        .custom-pagination {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}