<div class="page_container">
    <div class="functions-wrapper">
        <app-sub-nav></app-sub-nav>
        <div class="functions">
            <div class="section_header">
                <div class="title">Funktsioonide kataloog</div>
                <div class="add_function"><img src="./../assets/blue-plus.svg"/>Lisan uue funktsiooni</div>
            </div>
            <div class="main_section">
                <div class="left">
                    <app-search-bar></app-search-bar>
                </div>
                <div class="right">
                    <div class="sorting">
                        
                    </div>
                    <app-function-card></app-function-card>
                </div>
            </div>
        </div>
    </div> 
</div>
