.page_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F2;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        opacity: 0.25;
        background-image: url("/assets/bg-pattern.svg"), url("/assets/bg-pattern.svg");
        background-position-x: -500px, 1050px;
        background-position-y: -200px, -540px;
        background-size: 1100px;
        background-repeat: no-repeat, no-repeat;
        width: 100vw;
        height: 100vw;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .functions_wrapper {
        display: flex;
        width: 80%;
    }

    .functions {
        .section_header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            .title {
                font-size: 28px;
            }
            .header-buttons {
                display: flex;
                justify-content: space-between;
                .add_function, .filter_function {
                    font-size: 14px;
                    color: #005AA3;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 3px solid #005AA3;
                    padding: 8px 20px 8px 20px;
                    border-radius: 36px;
                    cursor: pointer;
                    img {
                        margin-right: 4px;
                    }
                }
                .filter_function {
                    display: none;
                    background-color: #005AA3;
                    color: #fff;
                } 
            }
            
        }

        .main_section {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media only screen and (max-width: 1212px) {
    .page_container {
        &:before {
            background-position-x: -500px, 750px;
        }
        .functions-wrapper {
            width: 100%;
            padding: 0 24px 0 24px;
            .functions {
                padding: 24px;
                .section_header {
                    .title {
                        font-weight: 300;
                    }
                }
                .main_section {
                    .left {
                        display: none;
                    }
                    .right {
                        width: 100%;
                        .function-card {
                            .function-card-item {
                                width: 100%;
                            }
                        }
                    }
                }     
            }
        }   
    }
}

@media only screen and (max-width: 869px) {
    .page_container {
        &:before {
            display: none;
        }
    }
    .functions {
        box-shadow: unset;
        padding: 0px !important;
    }
    .filter_function {
        display: flex !important;
    }
    .section_header {
        flex-direction: column;
    }
    .page_container {
        background-color: #fff;
    }
    .title {
        margin-bottom: 24px;
    }
}