.page_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F2;

    .functions_wrapper {
        display: flex;
        width: 80%;
    }

    .functions {
        background-color: #ffffff;
        border-radius: 4px;
        padding: 24px;
        height: 1000px;
        
        .section_header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            .title {
                font-size: 28px;
            }
            .add_function {
                font-size: 14px;
                color: #005AA3;
                font-weight: bold;
                display: flex;
                justify-content: center;
	            align-items: center;
                border: 3px solid #005AA3;
                padding: 8px 20px 8px 20px;
                border-radius: 36px;
                cursor: pointer;
                img {
                    margin-right: 4px;
                }
            }
        }

        .main_section {
            display: flex;
            justify-content: space-between;

            .left {
                width: 312px;
            }
        }
    }
}