<div class="page_container">
    <div class="functions-wrapper">
        <app-breadcrumbs></app-breadcrumbs>
        <div class="functions">
            <div class="section_header">
                <div class="title">Funktsioonide kataloog</div>
                <div class="header-buttons">
                    <div class="add_function"><img src="./../assets/blue-plus.svg"/>Lisan uue</div>
                    <div class="filter_function"><img src="./../assets/filter-btn.svg"/>Filtrid</div>
                </div>
                
            </div>
            <div class="main_section">
                <app-functions-search-filters></app-functions-search-filters>
                <app-functions-list></app-functions-list>
            </div>
        </div>
    </div> 
</div>
