.page_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0F0F2;

    .functions_wrapper {
        display: flex;
        width: 80%;
    }

    .functions {
        background-color: #ffffff;
        border-radius: 4px;
        padding: 24px;
        margin-bottom: 32px;
        
        .section_header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;

            .title {
                font-size: 28px;
            }
            .add_function {
                font-size: 14px;
                color: #005AA3;
                font-weight: bold;
                display: flex;
                justify-content: center;
	            align-items: center;
                border: 3px solid #005AA3;
                padding: 8px 20px 8px 20px;
                border-radius: 36px;
                cursor: pointer;
                img {
                    margin-right: 4px;
                }
            }
        }

        .main_section {
            display: flex;
            justify-content: space-between;

            .left {
                .dropdown-filter {
                    width: 312px;
                    height: 40px;
                    border: 1px solid #878A97;
                    border-radius: 4px;
                    color: #454854;
                    margin-bottom: 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 0px 17px 0px 17px;
                }
                .dropdown-filter:first-of-type {
                    margin-top: 8px;
                }
            }

            .right {
                .sorting-top {
                    display: flex;
                    justify-content: space-between;
                    color: #454854;
                    font-size: 14px;
                    margin-bottom: 12px;

                    .left {
                        display: flex;
                        align-items: center;
                    }

                    .right {
                        display: flex;
                        align-items: center;

                        .sorting {
                            display: flex;
                            align-items: center;
                            margin-right: 24px;
                            .sort-dropdown {
                                margin-left: 8px;
                                display: flex;
                                justify-content: space-between;
                                border: 1px solid #C0C2C9;
                                border-radius: 4px;
                                padding: 8px;
                                width: 182px;
                                .dropdown-text {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                img {
                                    margin-left: 12px;
                                }
                            }
                        }
                        .page-size {
                            display: flex;
                            align-items: center;
                            .size-dropdown {
                                margin-left: 8px;
                                display: flex;
                                justify-content: space-between;
                                padding: 8px;
                                border: 1px solid #C0C2C9;
                                border-radius: 4px;
                                width: 82px;
                                .dropdown-text {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                img {
                                    margin-left: 12px;
                                }
                            }
                        }
                    }
                }

                .sorting-bottom {
                    margin-top: 16px;
                    margin-bottom: 12px;
                    display: flex;
                    justify-content: space-between;
	                align-items: center;
                    color: #454854;
                    font-size: 14px;
                }

                .page-size {
                    display: flex;
                    align-items: center;
                        .size-dropdown {
                            margin-left: 8px;
                            display: flex;
                            justify-content: space-between;
                            padding: 8px;
                            border: 1px solid #C0C2C9;
                            border-radius: 4px;
                            width: 82px;
                            .dropdown-text {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            img {
                                margin-left: 12px;
                            }
                        }
                }

                .custom-pagination {
                    display: flex;
                    align-items: center;

                    .pagination-previous {
                        color: #005AA3;
                    }
                    .pagination-next {
                        color: #005AA3;
                    }

                    .page {
                        display: inline-block;
                        height: 35px;
                        width: 35px;
                        font-size: 14px;
                        color: #005AA3;
                        line-height: 35px;
                        text-align: center;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    .current {
                        background-color: #005AA3;
                        color: white;
                        border-radius: 50%;
                    }

                    .arrow {
                        margin: 0 12px 0 12px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}