<div class="page_container">
    <div class="functions-wrapper">
        <app-breadcrumbs></app-breadcrumbs>
        <div class="functions v-card v-p-7 v-mb-6">
            <div class="section_header">
                <div class="title">Funktsioonide kataloog</div>
                <div class="header-buttons">
                    <div class="add_function"><span class="material-symbols-outlined v-mr-3">add</span>Lisan uue funtsiooni</div>
                    <div class="filter_function v-flex v-align-items-center"><span class="material-symbols-outlined v-mr-3">filter_alt</span>Filtrid</div>
                </div>
                
            </div>
            <div class="main_section">
                <app-functions-search-filters></app-functions-search-filters>
                <app-functions-list></app-functions-list>
            </div>
        </div>
    </div> 
</div>
