<div class="faq v-card v-mb-6 v-p-8">
    <h1>Korduma kippuvad küsimused</h1>
    <app-dropdown class="dropdown" title="Kuidas koodi kasutada?"><p>Koodi kasutamiseks võta kood ja vajadusel muuda selle sisu.</p></app-dropdown>
    <app-dropdown class="dropdown" title="Näidis küsimus?"><p>Näidis vastus.</p></app-dropdown>
    <app-dropdown class="dropdown" title="Ehk veel mõni pikem küsimus siia alla näiteks?"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, voluptates cum? Voluptatum tempore corporis aut similique velit quod veritatis porro! Suscipit possimus nesciunt iste, saepe veniam praesentium ex rem non!</p></app-dropdown>
</div>
