.faq {
    h1 {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 24px;
    }
    .dropdown {
        display: block;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 760px) {
    .faq {
        padding: 12px 0px 12px 0px;
        box-shadow: unset;
    }
}