.card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px 32px 32px 32px;
    margin-bottom: 32px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.faq {
    padding: 32px;

    h1 {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 24px;
    }
    .dropdown {
        display: block;
        margin-top: 8px;
    }
}

@media only screen and (max-width: 760px) {
    .card {
        padding: 12px 0px 12px 0px;
        margin-bottom: 16px;
        box-shadow: unset;
    }
}