.searchbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .searchbar-input {
        color: gray;
        height: 40px;
        border-radius: 4px;
        border: 1px solid gray;
        padding: 10px;
        font-size: 16px;
        padding-right: 33px;
        width: 100%;
    }

    svg {
        position: relative;
        right: 30px;
        cursor: pointer;
    }
}
