<div class="header-menu">
    <div class="close item" (click)="closeMenu()">Sulge menüü<span class="material-symbols-outlined">close</span></div>
    <div class="lang item"><span class="material-symbols-outlined lang-icon">language</span><div class="lang-text">In English</div></div>
    <div class="nav item"> <span class="material-symbols-outlined">house</span><a href="/home">Avaleht</a></div>
    <div class="nav item"><img src="../././assets/catalog-icon.svg"/><a href="/functions">Funktsioonide kataloog</a></div>
    <div class="nav item"><span class="material-symbols-outlined">support</span>Abikeskus</div>
    <div class="darkmode item">
        <div class="v-flex v-align-items-center"><span class="material-symbols-outlined">dark_mode</span>Tume režiim</div>
        <app-toggle-button [(checked)]="darkmodeValue"></app-toggle-button>
    </div>
</div>