<div class="usecases v-card v-mb-6">
    <div class="top">
        <h1>Kasutusjuhud</h1>
        <button type="button" class="v-button v-button--secondary v-button--md"><a class="v-text-body-bold v-flex"><span class="material-symbols-outlined v-mr-3">add</span>Lisan uue kasutusjuhu</a></button>
    </div>
    <div class="usecase-table-desktop" *ngIf="usecasesData">
        <app-table [vertical]="false" [headers]="usecaseHeaders" [data]="usecasesData"></app-table>
    </div>
    <div class="usecase-table-mobile" *ngIf="usecasesData">
        <app-table *ngFor="let table of usecaseData | paginate: config; index as i" [vertical]="true" [headers]="usecaseHeaders.slice(1,5)" [data]="usecasesData[i].slice(1, 5)"></app-table>
        
        <div class="sorting-bottom">
            <div class="result-count">
                <p>2 tulemust</p>
            </div>

            <pagination-template #p="paginationApi"
            [id]="'custom'"
            (pageChange)="config.currentPage = $event"
            class="pagination-template">

                <div class="custom-pagination">
                    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                        <svg *ngIf="!p.isFirstPage()" (click)="p.previous()" class="arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 14L8.41 12.59L3.83 8H20V6H3.83L8.42 1.41L7 0L0 7L7 14Z" fill="#005AA3"/>
                        </svg>
                        <svg *ngIf="p.isFirstPage()" (click)="p.previous()" class="arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 14L8.41 12.59L3.83 8H20V6H3.83L8.42 1.41L7 0L0 7L7 14Z" fill="#C0C2C9"/>
                        </svg>
                    </div>

                    <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                            <span class="page">{{ page.label }}</span>
                        </a>
                        <div *ngIf="p.getCurrent() === page.value">
                            <span class="current page">{{ page.label }}</span>
                        </div>
                    </div>

                    <div class="pagination-next" [class.disabled]="p.isLastPage()">
                        <svg *ngIf="!p.isLastPage()" (click)="p.next()" class="arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z" fill="#005AA3"/>
                        </svg>
                        <svg *ngIf="p.isLastPage()" class="arrow" width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 0L11.59 1.41L16.17 6H0V8H16.17L11.58 12.59L13 14L20 7L13 0Z" fill="#C0C2C9"/>
                        </svg>
                    </div>
                </div>

            </pagination-template>
            

            <div class="page-size">
                <p>Kuvan korraga</p>
                <div class="size-dropdown">
                    <div class="dropdown-text">5</div>
                    <span class="material-symbols-outlined">arrow_drop_down</span>
                </div>
            </div>
        </div>
    </div>
</div>