<div class="card-wrapper">
    <div class="likes desktop">
        <img *ngIf="!liked" (click)="like()" src=".././assets/like-black.svg"/>
        <img *ngIf="liked" (click)="like()" src=".././assets/like-blue.svg"/>
        <p class="likecount" [ngClass]="{'liked': liked}">{{likes}}</p>
    </div>
    <div class="card">
        <div class="body">
            <img src="./../assets/Maa-ameti_logo.svg"/>
            <div class="text">
                <div class="title">{{title}}</div>
                <div class="owner">{{owner}}</div>
                <div class="description">{{description}}</div>
            </div>     
        </div>
        <div class="info">
            <div class="left">
                <button><img src="./../assets/tag.svg"/>Kood</button>
                <button><img src="./../assets/security.svg"/>Keskmine (K2T2S0)</button>
            </div>
            <div class="right">
                <div class="likes mobile">
                    <img *ngIf="!liked" (click)="like()" src=".././assets/like-black.svg"/>
                    <img *ngIf="liked" (click)="like()" src=".././assets/like-blue.svg"/>
                    <p class="likecount" [ngClass]="{'liked': liked}">{{likes}}</p>
                </div>
                <div class="details" [routerLink]="['/functions/details', id]"><a>Vaatan lähemalt</a><img src="./../assets/arrow-right-blue.svg"/></div>
            </div>
        </div>
    </div>
</div>
