<div class="functions">
    <div class="left">
        <p class="functions-title">Siit leiad kergelt enda vajadustele vastavaid taaskasutatavaid funktsioone</p>
        <p class="functions-desc">Eu semper est eu accumsan sem nunc fames scelerisque metus. Ultricies turpis cursus at nunc eget iaculis lacus aenean. Mauris nec senectus nulla aenean. Adipiscing etiam venenatis vel orci est sit metus donec elit.</p>
        <button type="button" class="v-button v-button--secondary v-button--md"><a class="v-text-body-bold v-flex" href="/functions">Funktsioonide kataloogi<span class="material-symbols-outlined v-ml-4">arrow_forward</span></a></button>
    </div>
    <div class="right">
        <div>
            <p>Funktsiooni liigitused</p>
            <button><a href="/functions/details/1" class="v-flex v-align-items-center v-justify-content-between v-button--full-width">Tarkvara teenusena<span class="material-symbols-outlined">arrow_forward</span></a></button>
            <button><a href="/functions/details/1" class="v-flex v-align-items-center v-justify-content-between v-button--full-width">Kood<span class="material-symbols-outlined">arrow_forward</span></a></button>
            <button><a href="/functions/details/1" class="v-flex v-align-items-center v-justify-content-between v-button--full-width">Binaarid<span class="material-symbols-outlined">arrow_forward</span></a></button>
            <button><a href="/functions/details/1" class="v-flex v-align-items-center v-justify-content-between v-button--full-width">Must kast<span class="material-symbols-outlined">arrow_forward</span></a></button>
        </div>
        <div>
            <p>Pakutav teenus</p>
            <button><a href="/functions/details/1" class="v-flex v-align-items-center v-justify-content-between v-button--full-width">Andmeteenus<span class="material-symbols-outlined">arrow_forward</span></a></button>
            <button><a href="/functions/details/1" class="v-flex v-align-items-center v-justify-content-between v-button--full-width">Mikroteenus<span class="material-symbols-outlined">arrow_forward</span></a></button>
            <button><a href="/functions/details/1" class="v-flex v-align-items-center v-justify-content-between v-button--full-width">Aadressiteenus<span class="material-symbols-outlined">arrow_forward</span></a></button>
            <button><a href="/functions/details/1" class="v-flex v-align-items-center v-justify-content-between v-button--full-width">X-tee<span class="material-symbols-outlined">arrow_forward</span></a></button>
        </div>
    </div>
</div>
